* {
  background-color: #B6D5E1;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.left-div {
  text-align: center;
  padding: 2em;
}

.right-div {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding-left: 2em;
 
}

.pup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  padding: 20px;
}

.pup-form > input {
  width: 250px;
  border: 0;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.pup-form > button {
  width: 250px;
  border-radius: 10px;
  padding: 7px;
}

.pup-form > button:hover {
  background-color: #65799B;
}
.big{
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 60px;
}
h1{
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 30px;
}

h2{
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 20px;
}

p{
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 18px;
}